@import "layout/header.scss";
@import "layout/intro.scss";
@import "layout/restaurants.scss";
@import "layout/footer.scss";
@import "layout/menu.scss";
@import "layout/loader.scss";
@import "utils/base.scss";
@import "utils/mixins.scss";
@import "utils/colors.scss";
@import "utils/animations.scss";

.choice {
    display: flex;
    flex-direction: column;
    padding: 0 42px 0 63px;
    margin: 40px 0;
}
.choice__layout {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    & button {
        border-radius: 20px;
        width: 100%;
        background-color: $color-background;
        height: 72.38px;
        border: none;
    }
        &--text {
            @include choice-text;
        }
        & i {
            margin-right: 10px;
            &:hover {
                color: $color-purple;
            }
        }  
}

@media (min-width: 1024px) {
    .header__image2 {
        height: 383px;
    }
    .intro__text {
        font-size: 40px;
    }
    .choice {
        padding: 50px 180px 50px 180px;
    }
    .choice__together {
        display: flex;
        justify-content: space-between;
    }
    .choice__layout--text {
        position: relative;
        left: 13px;
    }
    .choice__layout {
        width: 322.49px;
        & button {
            text-align: start;
            padding-left: 44px
        }
    }
    .restaurants {
        padding: 1em 180px;
        &__together {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 100px;
        }
    }
    .menu {
        margin: -3em 10em 0;
        padding: 1em 8em;
        &__layout {
            display: flex;
            justify-content: center;
            gap: 1em;
        }
    label {
        position: relative;
        top: -55px;
        left: 20px;
    }
    .visible,
    .invisible {
        position: absolute;
    }
    }
    .footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 5em;
        &__list li {
            display: flex;
            flex-direction: row;
        }
        &__list--link1 {
            margin-right: 2em;
        }
    }
}

   

