@import "../utils/colors.scss";
@import "../utils/mixins.scss";

.footer {
    background-color: $color-footer;
    padding: 22px 25px 22px 25px;
    &__title {
        color: $color-classic;
        font-family: 'shrikhand';
        font-style: italic;
    }
    &__list {
        padding: 0;
        & li {
            display: flex;
            flex-direction: column;
            gap: 7px;
        }
        & a {
            color: $color-classic;
            text-decoration: none;
        }
        & .icon1 {
            margin-right: 16px;
        }
        & .icon2 {
            margin-right: 9.6px;
        }
    }
}