.header__image {
    width: 197px;
    height: 36px;
    position: relative;
    left: 6em;
    padding-bottom: 10px;
}
.header__tous {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: #EAEAEA;
    box-shadow: 0px 4px 4px 0px #00000040;
}