@import "../utils/colors.scss";

.header {
    display: flex;
    flex-direction: column;
    &__image {
        width: 197px;
        height: 36px;
        padding-bottom: 10px;
        display: block;
        margin: auto;
        &2 {
            width: 100%;
            object-fit: cover;
        }
    }
    .header__layout {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 100%;
        background: #EAEAEA;
        box-shadow: $color-gradient;
    }
}
.fa-arrow-left {
    position: absolute;
    top: 14.40px;
    left: 16px;
    font-size: 32px;
    color: $color-black;
}
