.loader {
    position: fixed;
    background-color: $color-classic;
    opacity: 0.9;
    height: 100vh;
    inset: 0;
    z-index: 1;
    display: grid;
    place-items: center;
    animation: loader 200ms 3s forwards;
    i {
        animation: spin 3s;
        color: $color-purple;
        font-size: 128px;
    }
}
