@import "../utils/colors.scss";
@import "../utils/mixins.scss";

.restaurants{
    background-color: $color-background;
    padding: 62px 16px;
    position: relative;
    & img {
        width: 100%;
        height: 231px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    &__layout {
        position: relative;
        background-color: $color-classic;
        border-radius: 15px;
        margin-bottom: 16px;
        &--2 {
            padding: 0 16px;
            & h3 {
                margin: 10px 0 3px 0;
            }
            & p {
                margin: 0;
                margin-bottom: 10px;
            }
        }
    }
    .invisible-checkbox {
        opacity: 0;
    }
    .visible,
    .invisible {
        position: absolute;
        right: 30px;
        bottom: 46px;
        font-size: 20px;
    }
    .visible {
        color: transparent;
        background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        -webkit-background-clip: text;
        opacity: 0;
    }
    input:checked + label .visible {
        opacity: 1;
        transition: all 1s ease-in-out;
    }
    input:checked + label .invisible {
        opacity: 0;
        transition: all 1s ease-in-out;
    }
    .restaurants__link {
        text-decoration: none;
        color: $color-black;
    }
    .restaurants__new {
        position: relative;
        &::before {
            @include restaurants-new
        }
    }
}
