
@keyframes loader { 
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes menu {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}