$color-background: #F6F6F6;
$color-purple: #9356DC;
$color-button: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$color-gradient: 0px 4px 10px 0px #00000040;
$color-classic: #FFFFFF;
$color-footer: #353535;
$color-black: #000;
$color-green: #99E2D0;