@mixin button-intro {
    width: 218px;
    height: 50px;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    background: $color-button;
    box-shadow: 0px 4px 10px 0px #00000040;
}
@mixin choice-text {
    border: 1px solid;
    border-radius: 90%;
    width: 24px;
    height: 24px;
    background-color: $color-choice;
    position: absolute;
    left: 8px;
    color: white;
    text-align: center;
}
@mixin restaurants-new {
    content: "Nouveau";
    position: absolute;
    background-color: #99E2D0;
    color: #008766;
    width: 5em;
    height: 2em;
    right: 2em;
    top: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}