@mixin button-intro {
    width: 218px;
    height: 50px;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;
}